
.homeNav {
    color: #EAEFD3;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    padding: 20px 10px;
}
.homeNav a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 40px; 
    line-height: 25px;
    border-radius: 4px;
  }

.menu-right {
    color: #EAEFD3;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    padding: 20px 10px;
}

.menu-right a {
    float: right;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 30px;
    line-height: 25px;
    border-radius: 4px;
}

a:any-link{
    color: #EAEFD3;
    text-decoration: none;
}

a:hover {
    color: darkred;
}
body {
    background-color: #c16700

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.projName:hover .mainText{ 
    opacity: 1;
    transition: 0.3s ease;
}

.projName:hover .subText{ 
    opacity: 1;
    transition: 0.3s ease;
}

.projName:hover{ 
    opacity: .9;
    transition: 0.3s ease;
}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}